<div class="container frame-bucle" [formGroup]="formGroup">
    <div class="row">
        <label for="titulo" class = "m-2 col-lg-6 col-md-12 col-sm-12">Impuesto:</label>
        <select name="titulo" id="titulo" class = "m-2 col w-100" [value]="nombreImpuesto()" [value]="valorImpuesto()"
            (change)="nombreImpuesto.set(txtImp.options[txtImp.selectedIndex].textContent)" 
            (change)="valorImpuesto.set(txtImp.value)" #txtImp formControlName="impuesto">    
            <option value="" selected>Selecciona una opción</option>
            @for (item of this.impuestosResponse(); track item.id) {
                <option value="{{item.nombreImpuesto}}">{{ item.nombreImpuesto }}</option>
            }
        </select>
</div>
