<div class="m-4 p-5" [formGroup]="step10Form">
    <h2 class="mb-4">Datos Testimoniales</h2>
    @if(this.idDocumento() === 21)
    {
        <h3 class="mb-4">Confesional</h3>
        <div class="bg-primary-subtle p-5">
            <div class="container">
                <div class="row">
                    <label for="fecha-allanamiento" class="m-2 col-lg-6 col-md-12 col-sm-12">Fecha de allanamiento</label>
                    <input id="fecha-allanamiento" type="date" name="fecha-allanamiento" class="m-2 col" formControlName="fechaAllanamiento">
                </div>
            </div>
        </div>
    }
    <div class="m-5"></div>
    <h3 class="mb-4">Testigos</h3>
    <div class="bg-primary-subtle p-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div [formArrayName]="'testigos'">
                        @for (item of testigos.controls; track $index) {
                            <h4 class="mt-4 m-2 text-nowrap">Nombre Testigo {{ $index + 1 }}</h4>
                            <div [formGroupName]="$index">
                                <app-controles-personas 
                                    [formGroup]="getTestigosFormGroup($index)"/>
                            </div>
                        }
                    </div>
                </div>
                @if(this.idDocumento() !== 7){
                    <div class="col">
                        <div [formArrayName]="'direcciones'">
                            @for (item of direcciones.controls; track $index) {
                                <h4 class="mt-4 m-2 text-nowrap">Domicilio del Testigo {{ $index + 1 }}</h4>
                                <div [formGroupName]="$index">
                                    <app-controles-direcciones 
                                    [direccionForm]="getDireccionesFormGroup($index)"/>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if(this.idDocumento() === 7){
                    <div class="col">
                        <div [formArrayName]="'relaciones'">
                            @for (item of relaciones.controls; track $index) {
                                <div class="container">
                                    <div class="row" [formGroupName]="$index">
                                        <label class="mt-4 mb-2 col-12">¿Desde hace cuanto el testigo {{ $index + 1 }} conoce a la parte actora?</label>
                                        <div class="row">
                                            <input type="number" formControlName="tiempoConocimiento" class="col">
                                            <label class=" m-2 text-nowrap col-3">años</label>
                                        </div>
                                    </div>
                                </div>
                                
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        
        
        <div class="container interfaz-botones-h">
            <div class="row justify-content-md-center justify-content-sm-center">
                <div class="col interfaz-botones-h">
                    <button class="w-100 bg-success" (click)="agregarDatosTestigo()">Añadir Testigo</button>
                </div>
                <div class="col interfaz-botones-h">
                    <button class="w-100 bg-danger" (click)="quitarDatosTestigo()">Quitar Testigo</button>
                </div>
            </div>
        </div>
    </div>
</div>
