<div class="m-4 p-5" [formGroup]="step3Form">
    <h2 class="mb-4">Datos sobre la parte actora</h2>
    <div class="bg-primary-subtle p-5">
        <div [formArrayName]="'actores'">
            @for (item of actores.controls; track $index) {
                <div [formGroupName]="$index">
                    <app-controles-personas 
                        [formGroup]="getActoresFormGroup($index)"/>
                </div>
            }
        </div>
        <div class="container interfaz-botones-h">
            <div class="row justify-content-md-center justify-content-sm-center">
                <div class="col interfaz-botones-h">
                    <button class="w-100 bg-success" (click)="agregarPersona()">Añadir Persona</button>
                </div>
                <div class="col interfaz-botones-h">
                    <button class="w-100 bg-danger" (click)="quitarPersona()">Quitar Persona</button>
                </div>
            </div>
        </div>
    </div>
</div>
