/* You can add global styles to this file, and also import other style files */

button {
    padding: 8px;
}

.logo {
    width: 3.5em;
    height: auto;
    margin: 0 0.5em 0 0em
}

.banner{
    color: white;
}

select{
    border-width: 0px;
    border-radius: 3px;
    padding: 3px;
    height: 2em;
}

input[type="text"], input[type="number"], input[type="date"], input[type="email"] {
    border-width: 0px;
    border-radius: 3px;
    padding: 3px;
    padding-left: 1em;
    height: 2em;
}

.bg-primary-subtle
{
    border-radius: 10px;
}

.frame-bucle{
    border-bottom: 1px solid #007bff;
    padding-top: 10px;
    padding-bottom: 20px;
}

.interfaz-botones {
    margin-left: 2em;
    margin-right: 2em;
}

.interfaz-botones-h {
    margin-top: 2em;
}

.scrolling-element {
    height: 60vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
}
.fa-regular, .fa-solid {
    font-size: 3.5em;
    color: #007bff;
    margin: 10px 0px 10px 0px;
}

.sesion  .fa-solid{
    font-size: 1.3em;
    color: white;
}


.option-menu{
    display:grid;
    align-items: center;
    justify-items: center;
}
